
myraflib/__pycache__/
myraflib/__pycache__/*
__pycache__/
__pycache__/*
__pycache__/gui.cpython-35.pyc
__pycache__/gui.cpython-35.pyc
__pycache__/gui.cpython-35.pyc
__pycache__/gui.cpython-36.pyc
__pycache__/myraf.cpython-35.pyc
__pycache__/myraf.cpython-36.pyc
*.pyc
